<div class="main">
  <div class="inner">
    <div class="form__wrapper">
      <h2 class="page-heading">ユーザー新規登録</h2>

        <%= form_with model: @user, url: user_registration_path, local: true do |f| %>
        <%= render 'shared/error_messages', model: f.object %>

        <div class="field">
          <%= f.label :email, "email" %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>

        <div class="field">
          <%= f.label :password, "password（英数混合6文字以上）" %><br />
          <%= f.password_field :password, autocomplete: "new-password" %>
        </div>

        <div class="field">
          <%= f.label :password, "パスワード再入力" %><br />
          <%= f.password_field :password, autocomplete: "new-password" %>
        </div>

        <div class="field">
          <%= f.label :nickname, "nickname" %><br />
          <%= f.text_field :nickname %>
        </div>

          <div class="mysize">
          My Size 
          <%= f.collection_select(:size_id, Size.all, :id, :name, {}, {class:"select-box"}) %>
          </div>

        <div class="field">
          <%= f.label :profile, "プロフィール" %><br />
          <%= f.text_area :profile, class: :form__text %>
        </div>
        
        <h2 class="page-heading">本人確認</h2>
        <div>
        <label class="form-text">お名前カナ(全角)</label>
        <span class="indispensable">必須</span>
        </div>
        
        <%= f.text_area :last_name, class:"input-name", placeholder:"例) 田中" %>
        <%= f.text_area :first_name, class:"input-name", placeholder:"例) 太郎" %>

        <div class='form-text-wrap'>
        <label class="form-text">お名前カナ(全角)</label>
        <span class="indispensable">必須</span>
        </div>
        <div class='input-name-wrap'>
        <%= f.text_area :last_name_kana, class:"input-name", placeholder:"例) タナカ" %>
        <%= f.text_area :first_name_kana, class:"input-name",  placeholder:"例) タロウ" %>
         </div>

        <label class="form-text">生年月日</label>
        <span class="indispensable">必須</span>
        
        <div class='input-birth-wrap'>
         <%= raw sprintf(
                  f.date_select(
                    :birth_day,
                    class:'select-birth',
                    use_month_numbers: true,
                    prompt:'--',
                    start_year: 1930,
                    end_year: (Time.now.year - 5),
                    date_separator: '%s'),
                  "<p> 年 </p>", "<p> 月 </p>") + "<p> 日 </p>" %>
        </div>
        <div class="actions">
          <%= f.submit "新規登録", class: :form__btn  %>
        </div>
      <% end %>
    </div>
  </div>
</div>